.game-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex: 1;
}

.game-container .game-container-left,
.game-container .game-container-right {
  background-color: rgba(219, 231, 255, 0.15);
  border: 1px solid #5e606a;
  border-radius: 10px;
}

.game-container .game-container-left {
  flex: 3;
}
.game-container .game-container-right {
  flex: 1;
}
