.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 60px;
}

.home-container h1,
.home-container p {
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 7px;
  height: fit-content;
}

.home-container h1 {
  font-size: 12vw;
  text-shadow:
    0 5px var(--purple),
    0 10px var(--purple),
    0 15px var(--purple),
    0 20px var(--purple);
  transform: perspective(300px) rotateX(25deg);
  font-family: Gameria, sans-serif;
}

.home-container p {
  margin-top: 70px;
  font-size: 1.5rem;
  font-weight: bold;
}
