.opponent-screen {
  border: solid var(--purple);
  position: absolute;
  z-index: 100;
  border-radius: 10px;
  max-width: 250px;
  cursor: grabbing;
}

.opponent-screen:hover {
  cursor: grab;
}

.opponent-screen video {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
