.opponent-screen {
  border: solid red;
  position: absolute;
  z-index: 100;
  border-radius: 10px;
  max-width: 250px;
  max-height: 200px;
  aspect-ratio: 16/9;
  cursor: grabbing;
}

.opponent-screen:hover {
  cursor: grab;
}

.opponent-screen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
