services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: "sae_db"
      MYSQL_ROOT_PASSWORD: "D3V@1mg2br1ck"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  php:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

volumes:
  db_data: