:root {

    /*------------------FONT SIZES------------------*/
    --inter-title: clamp(15px, 2vw, 30px);
    --home-title: clamp(20px, 7vw, 90px);
    --small-title-poppins: clamp(10px, 3vw, 25px);
    --regular-darker-text: clamp(10px, 2vw, 20px);

    --upload-title: clamp(15px, 5vw, 40px);
    --upload-accepted: clamp(13px, 1.5vw, 20px);

    --crop-title: clamp(15px, 3vw, 28px);
    --crop-small-title: clamp(0.7rem, 1.5vw, 1.3rem);

    /*------------------COLORS------------------*/
    --main-brown: #A26547;
    --secondary-brown: #a87155;
    --bg-brown: #f4ede3;
}

/*------------------FONTS------------------*/
    
@font-face {
    font-family: inter;
    src: url("../font/inter/Inter.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../font/poppins/Poppins.otf");
}

@font-face {
    font-family: darker-grotesque;
    src: url("../font/darker_grotesque/DarkerGrotesque.ttf");
}

@font-face {
    font-family: righteous;
    src: url("../font/righteous/Righteous-Regular.ttf");
}

body {
    overflow: hidden;
}