.password-recovery-title {
    font: 400 var(--upload-title) righteous, sans-serif;
    color: var(--main-brown);
}
.password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: clamp(20px, 5vh, 40px);
    min-width: 0;
}
.email {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: center;
    justify-content: space-evenly;
}
.form-label {
    font: 500 clamp(0.7rem, 4.5vw, 1.4rem) darker-grotesque, sans-serif;
    color: var(--main-brown);
}
.form-control {
    flex: 1;
    border: 0.1em solid var(--main-brown);
    max-width: 20vw;
    width: 100%;
    min-width: 250px;

}
.form-control::placeholder {
    color: #00000068;
}
.send-button {
    background-color: var(--main-brown);
    border: none;
    max-width: 15vw;
    margin: 0 auto;
    width: 100%;
    color: #FFFFFF;
    min-width: 200px;
    font: 400 clamp(0.9rem, 4vw, 1.5rem) darker-grotesque, sans-serif;
}
.back-login {
    font: 500 clamp(0.7rem, 4.5vw, 1.4rem) darker-grotesque, sans-serif;
    color: var(--main-brown);
}