.end-screen {
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ending-panel {
  width: 60%;
  height: 90%;
  padding: 20px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
}

.end-title {
  background: linear-gradient(180deg, #b30000, #830000);
  color: white;
  padding: 18px 50px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}

.ending-header h2 {
  font-size: 2rem;
  color: #830000;
}

.ending-header p {
  font-weight: 600;
  opacity: 0.8;
}

.ending-score {
  background: linear-gradient(180deg, #b30000, #830000);
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.ending-score span {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
}

.ending-score strong {
  font-size: 2rem;
  font-weight: 900;
}

.ending-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.stat-item {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 18px;
  padding: 10px 0;
}

.stat-item span {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.stat-item strong {
  font-size: 22px;
  font-weight: 800;
}

.ending-actions {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.ending-btn {
  border-radius: 40px;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
}

.ending-btn.primary {
  background: linear-gradient(180deg, #b30000, #830000);
  color: white;
}

.ending-btn.ghost {
  background: transparent;
  border: 2px solid #b30000;
  color: #b30000;
}

@media (max-width: 768px) {
  .ending-panel {
    padding: 40px 25px;
  }

  .ending-score strong {
    font-size: 36px;
  }

  .ending-stats {
    grid-template-columns: 1fr;
  }
}
