.app {
  height: 100vh;
  position: relative;
  display: flex;
}

.bg {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 480px;
  opacity: 0.6;
  background: linear-gradient(to bottom, #463300, transparent);
  z-index: -1;
}
