@font-face {
  font-family: "Inter";
  src: url("/public/font/inter/Inter-VariableFont.ttf") format("truetype");
}

:root {
  --yellow: #f8d820;
  --black: #000000;
  --gray: #5e606a;
  --white: #eeeef0;

  --text-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

body {
  font-family: var(--text-font);
  background-color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
