.chat-message-displayer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  flex: 1;
  color: var(--white);
  max-height: 325px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
}

.chat-container {
  width: 100%;
}

.message {
  width: 100%;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 2px;
}
.message-content {
  overflow-wrap: break-word; 
  word-wrap: break-word;    
  word-break: break-word;
  white-space: normal;
}

.received {
  align-items: start;
}

.send {
  align-items: end;
}

.message p:nth-child(1) {
  color: var(--purple);
  font-size: 0.8rem;
}

.message p:nth-child(2) {
  max-width: 300px;
}

.message .message-footer {
  display: flex;
  gap: 5px;
}

.message .message-footer .message-time {
  font-size: 0.6rem;
  color: gray;
}
.message .message-footer button {
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  transition: all 0.2s ease-in;
}

.message p:nth-child(3) button:hover {
  color: gray;
}
